@using CoralLedger.Blue.Application.Common.Interfaces
@inject ICurrentUser CurrentUser
@inject NavigationManager NavigationManager

@if (CurrentUser.IsAuthenticated)
{
    <div class="login-display">
        <span class="user-name">
            <i class="bi bi-person-circle"></i>
            @CurrentUser.Name ?? CurrentUser.Email
        </span>
        <a href="/logout" class="btn-link">
            <i class="bi bi-box-arrow-right"></i>
            Logout
        </a>
    </div>
}
else
{
    <div class="login-display">
        <a href="/login" class="btn-link">
            <i class="bi bi-box-arrow-in-right"></i>
            Login
        </a>
        <a href="/register" class="btn-link">
            <i class="bi bi-person-plus"></i>
            Register
        </a>
    </div>
}

@code {
    // This component displays login/logout links based on authentication state
}
