@inject NavigationManager NavigationManager

<AuthorizeView>
    <Authorized>
        <div class="login-display">
            <span class="user-name">
                <i class="bi bi-person-circle"></i>
                @context.User.Identity?.Name ?? context.User.FindFirst(System.Security.Claims.ClaimTypes.Email)?.Value
            </span>
            <a href="/logout" class="btn-link">
                <i class="bi bi-box-arrow-right"></i>
                Logout
            </a>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="login-display">
            <a href="/login" class="btn-link">
                <i class="bi bi-box-arrow-in-right"></i>
                Login
            </a>
            <a href="/register" class="btn-link">
                <i class="bi bi-person-plus"></i>
                Register
            </a>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code {
    // This component displays login/logout links based on authentication state
}
